<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Display the products we have available for sale on this page.</h1>
    {% for product in displayProducts %}
    <ul>
        <li>{{ product.name }}</li>
        <li>{{ product.unitprice }} {{  product.measurement }}</li>
        <li>{{ product.image }}</li>
    </ul>
    {% empty %}
        <li>Looks like we are all sold out.</li>
    {% endfor %}
</body>
</html>